@media all and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }

  .images {
    display: flex;
    flex: 1;
    width: auto;
    justify-content: space-between;
  }

  .image01 {
    position: relative;
    width: 74px;
    height: 74px;
  }

  .image02 {
    position: relative;
    width: 74px;
    height: 74px;
    right: 37px;
    margin-bottom: 4.75%;
  }

  .shape00 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .shape01 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .boxic {
    width: 20px;
    height: 14px;
  }

  .ic_menu {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .box {
    flex-wrap: wrap;
    word-wrap: break-word;
  }

  .name {
    width: 100%;
    height: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 80px;
    color: #1a2236;
    letter-spacing: -0.01em;
  }

  .intro {
    padding: 5px;
    width: auto;
    height: auto;
    margin-bottom: 30px;
    justify-self: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .rectangle {
    text-align: center;
    color: white;
    display: flex;
    align-self: center;
    width: 100%;
    height: 50px;
    background: #1a2236;
    margin-bottom: 32px;
    justify-content: center;
    flex-direction: column;
  }

  .designs {
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;
  }

  .image3 {
    border: 2px solid #e2505c;
    background-image: url("./assets/image_geometry_2.png");
    background-repeat: no-repeat;
    background-size: 100% 250px;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .amen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
    height: max-content;
  }

  .navItems {
    display: flex;
    justify-content: flex-end;
  }

  /* works section */
  .Hallelujah {
    display: grid;
    grid-template-areas: 'Works''About';
  }

  .Works {
    display: grid;
    grid-template-areas: 'Project-name''one''two''three''four''five''six';
  }

  .Project-name {
    grid-area: Project-name;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 100%;
    color: #1a2236;
    word-wrap: break-word;
    width: auto;
    height: auto;
    word-break: break-all;
    max-width: 100%;
  }

  .one {
    grid-area: one;
    width: 100%;
    height: max-content;
    background-color: #1a2236;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
  }

  .two {
    grid-area: two;
    width: 100%;
    height: max-content;
    background-color: #1a2236;
  }

  .three {
    grid-area: three;
    width: 100%;
    height: max-content;
    background-color: #1a2236;
  }

  .four {
    grid-area: four;
    width: 100%;
    height: max-content;
    background-color: #1a2236;
  }

  .five {
    grid-area: five;
    width: 100%;
    height: max-content;
    background-color: #1a2236;
  }

  .six {
    grid-area: six;
    width: 100%;
    height: max-content;
    background-color: #1a2236;
  }

  .photo {
    width: auto;
    height: auto;
  }

  .work_one {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .summary {
    padding-left: 20px;
    padding-top: 20px;
    background: #1a2236;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .nameP {
    word-wrap: break-word;
    width: auto;
    height: auto;
    flex-grow: 1;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 80%;
  }

  .technology {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .tech1 {
    background: #98dede;
    padding-left: 10px;
    padding-right: 10px;
  }

  .project-view {
    background: #1a2236;
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
    width: max-content;
    margin-bottom: 20px;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 15px;
  }

  .union {
    width: auto;
    height: auto;
    align-self: center;
  }

  .arrow {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .word {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin: 10px;
  }

  .About {
    grid-area: About;
    width: 100%;
    height: max-content;
  }

  .lang {
    grid-area: lang;
    background: #1c528a;
    padding: 60px;
    margin-right: 20px;
    color: #fff;
    background-image: url('./assets/hash_tag.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    font-size: 30px;
  }

  .Frameworks {
    grid-area: frameworks;
    background-color: #e2505c;
    padding: 60px;
    margin-right: 20px;
    color: #fff;
    background-image: url('./assets/Rectanglepp.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    font-size: 30px;
  }

  .skills {
    grid-area: skills;
    background: #febf52;
    padding: 60px;
    margin-right: 20px;
    color: #ffff;
    background-image: url('./assets/ic_skills.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    font-size: 30px;
  }

  .dsa {
    list-style-type: none;
    display: grid;
    grid-template-areas:
      'lang'
      'frameworks'
      'skills';
    gap: 10px;
    padding: 30px;
  }

  .hello {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 15px;
    margin-right: 40px;
    flex-wrap: wrap;
  }

  .maybe {
    list-style-type: none;
  }

  .cvBox {
    text-align: center;
    color: white;
    display: flex;
    align-self: center;
    width: auto;
    height: 50px;
    background: #1a2236;
    margin-bottom: 32px;
    margin-right: 20px;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
  }

  a {
    color: #fff;
  }

  .aboutText {
    color: #1a2236;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.01em;
  }

  .aboutWord {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .union_1 {
    width: auto;
    height: auto;
    align-self: center;
    padding-top: 6px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 4px;
    justify-self: center;
  }

  .arrow_down {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    background: #f9f9fa;
  }

  fieldset {
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #dfdfe0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    color: #7d7c84;
  }

  input {
    width: 100%;
    border: 0;
  }

  legend {
    background-color: white;
  }

  .field {
    background: white;
  }

  textarea {
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    color: #7d7c84;
    border: 0;
    min-height: 112px;
  }

  .footer-items {
    display: flex;
    flex-direction: column;
    background: #1a2236;
  }

  .resume {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 50px;
  }

  .resume > div {
    align-self: center;
  }

  .social-media {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    list-style-type: none;
    padding-bottom: 20px;
  }

  .resume > p {
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 24px;
    color: #92dcdc;
  }

  input,
  textarea:focus {
    outline: none;
  }

  .fooc:focus-visible {
    outline: #1a2236;
  }

  button {
    text-align: center;
    color: white;
    display: flex;
    align-self: center;
    width: 100%;
    height: 50px;
    background: #1a2236;
    margin-bottom: 32px;
    justify-content: center;
    flex-direction: column;
    font-size: large;
    font-weight: lighter;
    list-style: normal;
    line-height: 24px;
  }

  form {
    margin-left: 20px;
    margin-right: 20px;
  }

  .disc {
    list-style-type: disc;
  }

  .footspace,
  .space {
    width: 111px;
    height: 74.02px;
    background: url('assets/image_geometry_3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .namet {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    margin-left: 20px;
    color: #1a2236;
    margin-bottom: -40px;
  }

  .introt {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
    margin-left: 20px;
    margin-right: 20px;
  }
}
